[Desktop Entry]
Type=Application
Icon=ks-youtube-download-video
Name=Video Downloader
Categories=YouTube-Tools;
StartupNotify=true
Terminal=false
X-KDE-SubstituteUID=false
Exec=which yt-dlp; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Video Downloader" --passivepopup="[Error] Please install yt-dlp command and try again."; exit 1; else ~/.local/share/applications/YouTube_Tools-download-video.sh;fi
