[Desktop Entry]
Actions=AVIsplitSize;AVIsplitTime;
Icon=ks-video
MimeType=video/x-msvideo;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=AVI Tools

[Desktop Action AVIsplitSize]
Icon=ks-video
Name=Split (to size)
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Split (to size)" --passivepopup="[Error] Please install avisplit command and try again."; exit 1; else ~/.local/share/applications/AVI_Tools-avi-split-size.sh %F;fi

[Desktop Action AVIsplitTime]
Name=Split (by time range)
Icon=ks-video
Exec=which avisplit; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Split (by time range)" --passivepopup="[Error] Please install avisplit command and try again."; exit 1; else ~/.local/share/applications/AVI_Tools-avi-split-time.sh %F;fi


