[Desktop Entry]
Actions=MD5-Sum;SHA1-Sum;SHA256-Sum;SHA512-Sum;CheckSum;
Icon=ks-checksum
MimeType=all/allfiles;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=CheckSum Tools

[Desktop Action CheckSum]
Icon=ks-checksum
Name=Verify CheckSum
Exec=which md5sum sha1sum sha256sum sha512sum; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Verify CheckSum" --passivepopup="[Error] Please install md5sum, sha1sum, sha256sum and sha512sum command and try again."; exit 1; else ~/.local/share/applications/CheckSum_Tools-verify-checksum.sh %F;fi


[Desktop Action MD5-Sum]
Icon=ks-checksum
Name=MD5 (strong)
Exec=which md5sum; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="MD5 (strong)" --passivepopup="[Error] Please install md5sum command and try again."; exit 1; else PB_PIDFILE="$(mktemp)"; kdialog --icon=ks-checksum --title="CheckSum MD5" --print-winid --progressbar "$(date) - Processing..." /ProcessDialog|grep -o '[[:digit:]]*' > $PB_PIDFILE; for file in %F;do cd ${file%/*}; md5sum "$file" > $(ls $file).md5; sed -i "s; ${file%/*}/;*;" $(ls $file).md5; kdialog --icon=ks-checksum --title="CheckSum MD5" --passivepopup="[Finished]    ${file##*/}";done; kill $(cat $PB_PIDFILE); rm $PB_PIDFILE;fi

[Desktop Action SHA1-Sum]
Icon=ks-checksum
Name=SHA1 (good strong)
Exec=which sha1sum; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="SHA1 (Good Strong)" --passivepopup="[Error] Please install sha1sum command and try again."; exit 1; else PB_PIDFILE="$(mktemp)"; kdialog --icon=ks-checksum --title="CheckSum SHA1" --print-winid --progressbar "$(date) - Processing..." /ProcessDialog|grep -o '[[:digit:]]*' > $PB_PIDFILE; for file in %F;do cd ${file%/*}; sha1sum "$file" > $(ls $file).sha1; sed -i "s; ${file%/*}/;*;" $(ls $file).sha1; kdialog --icon=ks-checksum --title="CheckSum SHA1" --passivepopup="[Finished]    ${file##*/}";done; kill $(cat $PB_PIDFILE); rm $PB_PIDFILE;fi


[Desktop Action SHA256-Sum]
Icon=ks-checksum
Name=SHA256 (very strong)
Exec=which sha256sum; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="SHA1 (Good Strong)" --passivepopup="[Error] Please install sha256sum command and try again."; exit 1; else PB_PIDFILE="$(mktemp)"; kdialog --icon=ks-checksum --title="CheckSum SHA256" --print-winid --progressbar "$(date) - Processing..." /ProcessDialog|grep -o '[[:digit:]]*' > $PB_PIDFILE; for file in %F;do cd ${file%/*}; sha256sum "$file" > $(ls $file).sha256; sed -i "s; ${file%/*}/;*;" $(ls $file).sha256; kdialog --icon=ks-checksum --title="CheckSum SHA256" --passivepopup="[Finished]    ${file##*/}";done; kill $(cat $PB_PIDFILE); rm $PB_PIDFILE;fi

[Desktop Action SHA512-Sum]
Icon=ks-checksum
Name=SHA512 (high strong)
Exec=which sha512sum; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="SHA1 (Good Strong)" --passivepopup="[Error] Please install sha512sum command and try again."; exit 1; else PB_PIDFILE="$(mktemp)"; kdialog --icon=ks-checksum --title="CheckSum SHA512" --print-winid --progressbar "$(date) - Processing..." /ProcessDialog|grep -o '[[:digit:]]*' > $PB_PIDFILE; for file in %F;do cd ${file%/*}; sha512sum "$file" > $(ls $file).sha512; sed -i "s; ${file%/*}/;*;" $(ls $file).sha512; kdialog --icon=ks-checksum --title="CheckSum SHA512" --passivepopup="[Finished]    ${file##*/}";done; kill $(cat $PB_PIDFILE); rm $PB_PIDFILE;fi
