[Desktop Entry]
Type=Service
Actions=Connect;ViewMachine;DiskUse;
Icon=ks-dolphin-file-manager
MimeType=inode/directory;
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Dolphin Tools

[Desktop Action Connect]
Icon=ks-folder-remote
Name=Connect toExec=~/.local/share/applications/
Dolphin_Tools-connect.sh %F

[Desktop Action DiskUse]
Icon=ks-disk-space-used
Name=Disk Space UsedExec=~/.local/share/applications/Dolphin_Tools-disk-use.sh %F

[Desktop Action ViewMachine]
Icon=ks-server
Name=Registered Servers
Exec=~/.local/share/applications/SSH_Tools-register-machine.sh %F

