[Desktop Entry]
Actions=Converter;Sizer;
Icon=ks-image
MimeType=image/*;
Type=Service
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-StartupNotify=false
X-KDE-Submenu=Graphic Tools

[Desktop Action Sizer]
Icon=ks-resize-image
Name=The Sizer (custom sizes)
Exec=which convert; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Image Resizer" --passivepopup="[Error] Please install convert command and try again."; exit 1; else ~/.local/share/applications/The_Sizer.sh %F;fi

[Desktop Action Converter]
Exec=which convert; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Image Converter" --passivepopup="[Error] Please install convert command and try again."; exit 1; else ~/.local/share/applications/The_Converter.sh %F;fi
Icon=ks-image
Name=The Converter