[Desktop Entry]
Type=Service
Icon=ks-media-optical-video
Actions=DVD-Assembler;convert-video;AddSubMP4;AdjustVolumeLevel;extract-audio;VideoRotate;TimeEditMediaFiles;AudioMP3AttachCover;CleanMetadataMediaFiles;ConcatenateMediaFiles;ISOBuild;DiskCloner;record-my-desktop;vlc-openfolder;
MimeType=inode/directory;
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
X-KDE-StartupNotify=false
X-KDE-Submenu=Multimedia Tools

[Desktop Action DVD-Assembler]
Icon=ks-media-optical-video
Name=DVD Assembler
Exec=which ffprobe dvdauthor genisoimage; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="DVD Assembler" --passivepopup="[Error] Please install ffprobe, dvdauthor and genisoimage command and try again."; exit 1; else ~/.local/share/applications/DVD_Tools-d.v.d.-assembler.sh %F;fi

[Desktop Action ISOBuild]
Icon=ks-media-optical-mount
Name=Build ISO-9660 Image from Here
Exec=which genisoimage; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Build ISO-9660 Image from Here" --passivepopup="[Error] Please install genisoimage command and try again."; exit 1; else kdialog --icon=ks-media-optical-mount --title="Build ISO-9660 Image from Here" --print-winid --progressbar "$(date) - Processing..." /ProcessDialog|grep -o '[[:digit:]]*' > $PB_PIDFILE; genisoimage -R -J -o %f.iso %f; kill $(cat $PB_PIDFILE); rm $PB_PIDFILE; echo "Finish Build Image" > /tmp/speak; text2wave -F 48000 -o /tmp/speak.wav /tmp/speak; play /tmp/speak.wav; rm -fr /tmp/speak*; kdialog --icon=ks-media-optical-mount --title="Build ISO-9660 Image from Here" --passivepopup="[Finished]   $(basename %f.iso)";fi

[Desktop Action DiskCloner]
Icon=ks-media-optical-clone
Name=DiskCloner
Exec=which lsblk dd; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="DiskCloner" --passivepopup="[Error] Please install lsblk and dd command and try again."; exit 1; else ~/.local/share/applications/DiskCloner.sh %F;fi

[Desktop Action convert-video]
Icon=ks-video
Name=Convert Video Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Convert Video Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-convert-video.sh %F;fi

[Desktop Action extract-audio]
Icon=ks-audio
Name=[Extract|Convert] Audio Track
Exec=which ffmpeg sox mp3gain; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Extract|Convert Audio Track" --passivepopup="[Error] Please install ffmpeg, sox and mp3gain command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-extract-audio.sh %F;fi

[Desktop Action record-my-desktop]
Icon=ks-media-tape
Name=Record My Desktop (record video screen)
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Record My Desktop" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_record-my-desktop.sh %F;fi

[Desktop Action vlc-openfolder]
Icon=vlc
Name=Play Video from Here
Exec=which vlc; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Play Video from Here" --passivepopup="[Error] Please install vlc command and try again."; exit 1; else vlc -f %F 2> /dev/null;fi

[Desktop Action VideoRotate]
Icon=ks-video-rotate
Name=Rotate Video Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Rotate Video Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-video-rotate.sh %F;fi

[Desktop Action TimeEditMediaFiles]
Icon=ks-media-edit-time
Name=Edit Time from Media Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Edit Time from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-edit-media-time.sh %F;fi

[Desktop Action AudioMP3AttachCover]
Icon=ks-audio-mp3-attach-cover
Name=Attach Cover to MP3 Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Attach Cover to MP3 Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-audio-mp3-attach-cover.sh %F;fi

[Desktop Action CleanMetadataMediaFiles]
Icon=ks-media-clean-metadata
Name=Clean Metadata from Media Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Clean Metadata from Media Files" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-clean-metadata-media-file.sh %F;fi


[Desktop Action ConcatenateMediaFiles]
Icon=ks-concatenate-media-file
Name=Concatenate Media Files with Same Codec
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Concatenate Media Files with Same Codec" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-concatenate-media-file.sh %F;fi


[Desktop Action AdjustVolumeLevel]
Icon=ks-audio-normalize
Name=Volume Normalize of MP3 Files
Exec=which mp3gain; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Volume Normalize of MP3 Files" --passivepopup="[Error] Please install mp3gain command and try again."; exit 1; else ~/.local/share/applications/Multimedia_Tools-audio-normalize.sh %F;fi

[Desktop Action AddSubMP4]
Icon=ks-add-subs
Name=Add Subtitle to MP4 Files
Exec=which ffmpeg; if [ "$?" != "0" ];then kdialog --icon=ks-error --title="Add Subtitle to MP4 File" --passivepopup="[Error] Please install ffmpeg command and try again."; exit 1; else ~/.local/share/applications/ffmpeg_multifile-add-subtitle.sh %F;fi

